<div class="container directory-page">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="buttons">
                        <button ng-click="order = 'name'" class="btn button">Order by Name</button>
                        <button ng-click="order = 'category'" class="btn button">Order by Category</button>
                    </div>
                    <input type="text" ng-model="search" class="text-input" placeholder="Search....">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12 pd-none">
                <ul class="list-container">
                    <li ng-repeat="x in foods | orderBy: order | filter: search" ng-show="x.available">
                        <img ng-src="{{x.image}}" ng-show="true" class="img-fluid">
                        <h3>{{x.name}} - {{x.rate | currency }}</h3>
                        <span>{{x.category}}</span>
                        <div ng-click="removeFood(x)" class="remove">x</div>
                    </li>
                </ul>
                <form ng-submit="addFood()">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for=""></label>
                            <input type="text" placeholder="Name...." ng-model="newFood.name" class="form-control text-input">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for=""></label>
                            <input type="text" placeholder="Category...." ng-model="newFood.category" class="form-control text-input">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for=""></label>
                            <input type="text" placeholder="Price...." ng-model="newFood.rate" class="form-control text-input">
                        </div>
                    </div>
                        <p class="text-left"><button class="btn button">Add New Food</button></p>
                </form>
                <p class="text-left"><button class="btn button" ng-click="removeAll()">Remove All Foods</button></p>
            </div>
        </div>
    </div>